<div class="formContainer">
    <form (ngSubmit)="onSubmit()" class="immo-form">
        <h3>Ist Zustand</h3>
        <div class="form-group">
            <label for="istKaufpreis">Kaufpreis (€)</label>
            <input type="number" [(ngModel)]="istKaufpreis" id="istKaufpreis" name="istKaufpreis" required>
        </div>

        <div class="form-group">
            <label for="istNebenkostenNU">Nebenkosten nicht umlagefähig (€)</label>
            <input type="number" [(ngModel)]="istNebenkostenNU" id="istNebenkostenNU" name="istNebenkostenNU">
        </div>

        <div class="form-group">
            <label for="istKaltmiete">Ist-Kaltmiete (€)</label>
            <input type="number" [(ngModel)]="istKaltmiete" id="istKaltmiete" name="istKaltmiete">
        </div>

         <h3>Soll Zustand</h3>
        <div class="form-group">
            <label for="sollKaufpreis">Kaufpreis (€)</label>
            <input type="number" [(ngModel)]="sollKaufpreis" id="sollKaufpreis" name="sollKaufpreis" required>
        </div>

        <div class="form-group">
            <label for="sollNebenkostenNU">Nebenkosten nicht umlagefähig (€)</label>
            <input type="number" [(ngModel)]="sollNebenkostenNU" id="sollNebenkostenNU" name="sollNebenkostenNU">
        </div>

        <div class="form-group">
            <label for="sollKaltmiete">Soll-Kaltmiete (€)</label>
            <input type="number" [(ngModel)]="sollKaltmiete" id="sollKaltmiete" name="sollKaltmiete">
        </div>

        <button type="submit">Berechnen</button>
    </form>
</div>