.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

h1{
    font-size: 5vh;
    cursor: default;
}

.burger-btn {
  position: fixed;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1001;
  background: #E6D8AD;
  right: 2vw;
}

.burger-btn:hover{
 background:  #D2C086;
}

.menu {
  position: fixed;
  top: 0;
  right: -250px; /* versteckt */
  width: 250px;
  height: 100%;
  background: #E6D8AD;
  color: white;
  transition: left 0.3s ease;
  padding-top: 10vh;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu.active {
  right: 0; /* sichtbar */
}
